<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Proiect_SI</display-name>

	<servlet>
		<servlet-name>S_Login</servlet-name>
		<servlet-class>com.Login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>S_Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>S_Register</servlet-name>
		<servlet-class>com.Register.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>S_Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>log4jImp.ContextListener</listener-class>
	</listener>
	
	<listener>  
    	<listener-class>hibernateImp.HibernateListener</listener-class>  
	</listener> 
	
	<display-name>Log4jWebDemo1</display-name>
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>

</web-app>